import React from "react";
import PropTypes from "prop-types";
// import styled, { css } from "styled-components";

// import {} from "./primitives";

export const {{pascalCase name}} = ({ text }) => <div>{text}</div>;

{{pascalCase name}}.propTypes = {
  text: PropTypes.string
};

{{pascalCase name}}.defaultProps = {
  text: "{{name}}"
};
